@charset "UTF-8";
/* CSS Document */
			div#wrap div {
				padding: 10px;
				width: 160px;
				height:160px;
				color: #0000FF;
				border:10px solid #960;
				background-color: #CCCCCC;}
			div#wrap{width:960px;  margin:20px auto;  overflow:hidden;}
			section{width:200px; margin:0 20px; float:left;}
			section>p{text-align:center; color:rgb(153,0,0); }
/*기본형*/		
.box01{
	border-radius: 70px 30px 60px 50px / 40px 15px 25px 10px;
}

/*각각의 사이즈 넣기*/	
.box02{
	border-top-left-radius: 70px 40px;
	border-top-right-radius: 30px 15px;
	border-bottom-right-radius: 60px 25px;
	border-bottom-left-radius: 50px 10px;
}

/*각 코너 30px 70px 10px 100px*/
.box03{
	border-radius: 30px 70px 10px 100px;
}

/*모든 코너 같게*/
.box04{
	border-radius: 80px;
}

/*한 쪽 코너만 넣기*/
.box05{
	border-radius: 30px 80px;
}

/*원 만들기*/
.box06{
	border-radius: 50%;
}




